<div class="bg-light dark:bg-transparent min-vh-100 d-flex flex-row align-items-center">
  <c-container breakpoint="md">
    <c-row class="justify-content-center">
      <c-col lg="10" xl="8">
        <c-card-group>
          <c-card class="p-4">
            <c-card-body>
              <ngx-spinner>
                <p class="text-white">loading...</p>
              </ngx-spinner>
              <form cForm (submit)="login()">
                <h1>Login</h1>
                <div class="alert alert-danger" role="alert" *ngIf="errorMsg.length">
                  <p *ngFor="let msg of errorMsg">{{msg}}</p>
                </div>
                <p class="text-body-secondary">Sign In to your account</p>
                <!-- <div class="mb-3">
                  <label for="login" class="form-label">Email address</label>
                  <input [(ngModel)]="authRequest.email"  type="email" class="form-control" id="login" placeholder="name@example.com">
                </div> -->
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <input [(ngModel)]="authRequest.email" name="email" autoComplete="email" cFormControl placeholder="Email" />
                </c-input-group>
                <c-input-group class="mb-4">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input
                    [(ngModel)]="authRequest.password"
                    name="password"
                    autoComplete="current-password"
                    cFormControl
                    placeholder="Password"
                    type="password"
                  />
                </c-input-group>
                <c-row>
                  <c-col xs="6">
                    <button (click)="login()" cButton class="px-4" color="primary">
                      Login
                    </button>
                    <!-- <button (click)="login()" type="button" class="btn btn-primary">
                      <em class="fas fa-sign-in-alt">&nbsp;Sign in</em>
                    </button> -->
                  </c-col>
                  <!-- <c-col class="text-right" xs="6">
                    <button cButton class="px-0" color="link">
                      Forgot password?
                    </button>
                  </c-col> -->
                </c-row>
              </form>
            </c-card-body>
          </c-card>
          <c-card [ngStyle]="{'minWidth.%': 44}" class="text-white bg-primary py-5">
            <c-card-body class="text-center">
              <div>
                <h2>Sign up</h2>
                <p>
                  Don't have an account?
                </p>
                <button [active]="true" cButton class="mt-3" color="primary" (click)="register()">
                  Register Now!
                </button>
              </div>
            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>
