<div class="bg-light dark:bg-transparent min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col lg="7" md="9" xl="6">
        <c-card class="mx-4">
          <c-card-body class="p-4">
            <div class="alert alert-danger" role="alert" *ngIf="errorMsg.length">
              <p *ngFor="let msg of errorMsg">{{msg}}</p>
            </div>
            <form cForm>
              <ngx-spinner>
                <p class="text-white">loading...</p>
              </ngx-spinner>
              <h1>Register</h1>
              <p class="text-body-secondary">Create your account</p>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilUser"></svg>
                </span>
                <input [(ngModel)]="registerRequest.firstname" name="firstname" autoComplete="name" cFormControl placeholder="Firstname" />
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilUser"></svg>
                </span>
                <input [(ngModel)]="registerRequest.lastname" name="lastname" autoComplete="name" cFormControl placeholder="Lastname" />
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>&#64;</span>
                <input [(ngModel)]="registerRequest.email" name="email" autoComplete="email" cFormControl placeholder="Email"/>
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilLockLocked"></svg>
                </span>
                <input [(ngModel)]="registerRequest.password" name="password" autoComplete="new-password" cFormControl placeholder="Password" type="password" />
              </c-input-group>
              <!-- <c-input-group class="mb-4">
                <span cInputGroupText>
                  <svg cIcon name="cilLockLocked"></svg>
                </span>
                <input autoComplete="new-password" cFormControl placeholder="Repeat password" type="password" />
              </c-input-group> -->
              <div class="d-grid">
                <button cButton color="success" (click)="register()">Create Account</button>
              </div>
            </form>
            <div>
              Already have an account?&nbsp;
              <button (click)="login()" type="button" class="btn btn-link">
                Login
              </button>
            </div>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>
